_build/
config
config-stamp
*.cmi
*.cmo
*.cma
*.annot
*.cmxa
*~
*.o
*.cf
.depend
.merlin
CHANGELOG.html
README.html
test/c/fsm_*.c
test/c/fsm_*.h
test/c/tb
test/vhdl/tb
test/vhdl/*.vcd
test/vhdl/fsm_*.vhd
attic/
