_build/
config
config-stamp
*.cmi
*.cmo
*.cma
*.annot
*.cmxa
*~
*.o
*.cf
*.gch
.depend
.merlin
CHANGELOG.html
README.html
examples/*/test*.dot
examples/*/*.gif
examples/*/c/*
!examples/*/c/Makefile
!examples/*/c/tb.c
examples/*/vhdl/*
!examples/*/vhdl/Makefile
!examples/*/vhdl/tb.vhd
!examples/*/vhdl/tb.gtkw
attic/
