_build/
config
config-stamp
*.cmi
*.cmo
*.cma
*.annot
*.cmxa
*~
*.o
*.cf
*.gch
.depend
.merlin
CHANGELOG.html
README.html
examples/*/c/fsm_*.c
examples/*/c/fsm_*.h
examples/*/c/tb
examples/*/vhdl/tb
examples/*/vhdl/*.vcd
examples/*/vhdl/fsm_*.vhd
examples/*/test.dot
attic/
fsml.opam
